.App {
  text-align: center;
  background-color: #282c48;
    min-height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-variant-numeric: tabular-nums;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5rem;
}
.App-header-now {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.App-header-now .date {
    color: #999;
}

.App-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
    padding: 2rem;
}


.App-next .rest {
    font-size: 4rem;
}

.datetime {
    color: #FFF;
    text-align: right;
    font-weight: bold;
}
.datetime .name {
    color: #999;
    font-weight: lighter;
}
.datetime span {
    color: #FFF;
}


.ftn span {
    color: #AAA;
    font-size: 0.5em;
}


.upcoming {
    display: flex;
    overflow-y: auto;
    max-width: 100vw;
    margin-top: 2rem;
}
.upcoming .passed {
    opacity: 0.3;
    text-decoration: line-through;
}

.upcoming > div {
    padding: 1rem;
    background-color: rgba(255,255,255,0.1);
    width: 6rem;
    height: 4rem;
    min-width: 200px;
}
.upcoming > div:nth-child(odd) {
    background-color: rgba(255,255,255,0.17);
}